nav{
	width: 90vw;
	margin: 0 auto;
	text-align: right;
}

nav ul li {
	display: inline-block;
}
nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	font-family: goergia, 'Times of roman';
	color: #5971AD;
}
nav ul li a:hover {
	text-decoration: underline;
}
/*link*/
div a{
	font-size: 45px;
}
/*a:link*/
div a:link{
	color: green;
	text-decoration: none;
}
/*a:visited*/
div a:visited{
	color: gold;

}
/*a:hover*/
div a:hover{
	text-decoration: underline;
	color: red;
}
/*a:active*/
div a:active{
	color: blue;
}
/*list styling*/
.list ul {
	list-style-type: decimal;
	font-size: 25px;
}
.list p{
	font-size: 30px;
}

