*{
	font-size: 27px;
}

.formdiv{
	width: 70%;
	height: 500px;
	margin: auto;
	background-color: lightblue;
	padding: 2px;
}

.textfield, .displ{
	margin: 15px auto;
	display: block;
	width: 36%;

}
.textfield{
	height: 200px;

}

.sign{
	position: relative;
	left: 300px;
}